.dashboard {
  padding: 20px;
  background-color: #161515;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 1200px; 
  margin: auto; 
}

h1 {
  color: black;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #0c0b0b;
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.stock-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.stock-card {
  background-color: #171718;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 200px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-align: center; 
}

.stock-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.stock-card h3 {
  margin: 0;
  font-size: 1.2em; 
}

.stock-card p {
  margin: 10px 0 0; 
  font-size: 1em; 
  color: #555; 
}

button {
  margin-top: 15px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #dae3ec00;
  color: #0c0b0b;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05); 
}

.portfolio {
  margin-top: 20px;
  background: #3e3e3f; 
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  
}

.portfolio table {
  width: 100%; 
  border-collapse: collapse;
}

.portfolio th, .portfolio td {
  padding: 10px;
  border: 1px solid #f7f7fd; 
}

.portfolio th {
  background-color: #072c63; 
  color: #ffffff; 
}

.portfolio tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.portfolio tr:hover {
  background-color: #036ad1; 
  color: #ffffff
}

.logout-button {
  margin-top: 20px; 
  padding: 5px 10px; 
  border: none;
  border-radius: 5px;
  background-color: #dc3545; 
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8em; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.logout-button:hover {
  background-color: #c82333; 
  transform: scale(1.05); 
}

.stock-card {
  background-color: #193324;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; 
  cursor: pointer;
  text-align: center;
  color: #ffffff
}

.stock-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); 
  background-color: #0a0a0a; 
}


.buy-button {
  background-color: #4CAF50;
  color: rgb(48, 46, 46);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #45a049;
}